/******* Generics  ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

#wrapper {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}

ul {
  list-style-type: none;
}

/****** Utilities  *******/

footer ul li i.small-i {
  font-size: 14px;
}

/******* HEADER *******/

header {
  flex-basis: 80px;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px 10px;
}

#speaker-view,
#expand {
  color: white;
  padding: 4px 8px;
  margin: 4px 8px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

/****** MAIN ******/

main {
  flex-grow: 1;
  overflow-y: auto;
}

/* Section Zoom Room  */

#zoom-room {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#zoom-room .user-window {
  height: 120px;
  width: 180px;
  margin: 5px 2px;
}

/******* FOOTER *******/

/* Footer's Container  */

footer {
  flex-basis: 100px;
  width: 90vw;
  background-color: rgb(34, 34, 34);
}

#footer-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#commands {
  flex-basis: 200px;
}

#tool-bar {
  flex-grow: 1;
}

#end-call {
  flex-basis: 200px;
  position: relative;
}

/* Footer Lists  */

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer ul li {
  color: white;
  font-size: 12px;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer ul i {
  margin-bottom: 5px;
  font-size: 25px;
}

footer ul li:hover {
  color: lightseagreen;
  cursor: pointer;
}

/* Footer btn end-call  */

#btn-end-call {
  height: 100%;
  width: 100px;
  background-color: grey;
  position: absolute;
  right: 0;
}
