/******* Generics  ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

#wrapper {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
}

/****** Utilities  *******/

/******* HEADER *******/

header {
  flex-basis: 80px;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#speaker-view,
#expand {
  margin: 5px 10px;
  color: white;
  padding: 4px 8px;
  background-color: grey;
  border-radius: 5px;
  cursor: pointer;
}

/****** MAIN ******/

main {
  flex-grow: 1;
}

/* Section Zoom Room  */

#zoom-room {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  overflow-y: auto;
}

#zoom-room .user-window {
  height: 120px;
  width: 180px;
  margin: 5px 2px;
}

/******* FOOTER *******/

footer {
  flex-basis: 100px;
  background-color: darkgray;
}
