/******* Generics  ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  background-color: black;
}

/****** Header ******/

header {
  height: 80px;
  background-color: white;
}
