/******* Generics  ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  background-color: black;
  justify-content: space-between;
}

/******* Header *******/

header {
  flex-basis: 80px;
  background-color: white;
}

/****** Main ******/

main {
  background-color: red;
  flex-grow: 1;
}

/******* Footer *******/

footer {
  flex-basis: 150px;
  background-color: darkgray;
}
